* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.levels-and-counter {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  margin: 10rem 10rem;
}

h2 {
  text-align: center;
}
