* {
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 60px;
}

/* .levels-and-counter {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
} */

.levels {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 27px;
  font-weight: 600;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  margin: 100px 100px;
  width: 300px;
  height: 450px;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: 100%;
}

.card-cover {
  position: absolute;
  left: 0;
  height: 100%;
  cursor: pointer;
  border-style: ridge;
  /* opacity: 0; */
}

h2 {
  text-align: center;
}

body {
  background-color: lavender;
}

.buttons {
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.reset {
  margin-right: 50px;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.next-level {
  margin-left: 50px;
  width: 110px;
  height: 40px;
}

.reset,
.next-level {
  border: none;
  background-color: black;
  color: lavender;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.hide {
  display: none;
}
